body {
    margin: 0;
    
}
#slide{
    background-image: url(../imagens/eliporto.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px;
}

header {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    padding: 20px 40px; /* Aumenta o espaçamento interno do cabeçalho */
    position: fixed;
    top: 20px; /* Espaçamento do topo */
    left: 40px; /* Espaçamento lateral do lado esquerdo */
    right: 40px; /* Espaçamento lateral do lado direito */
    z-index: 1000; /* Garante que o cabeçalho fique sobre outros elementos */
   
}

.container {
    text-align: center;
    margin-top: 200px;
}


.logo {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente a logo */
    align-items: center; /* Centraliza verticalmente a logo */
    margin-right: 20px; /* Espaço entre a logo e os itens de navegação */
}

.logo img {
    max-height: 100px; /* Ajusta a altura máxima da logo */
}

nav {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens de navegação */
    flex-grow: 1; 
    justify-content: center; /* Centraliza horizontalmente os itens de navegação */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 20px;

}

nav ul li a {
    color: #fff; /* Define a cor do texto como branco */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Adiciona uma transição suave */
    padding: 10px 15px; /* Adiciona espaçamento interno para melhorar a usabilidade */
   font-size: 16px;
   font-family: Montserrat, sans-serif;
   transition: 1s ;
}

nav ul li a:hover {
    color: #e7a920; /* Muda a cor para amarelo dourado ao passar o mouse */
    text-decoration-line: none;
    transition: 1s;
    text-decoration-style: solid;  
    text-decoration-thickness: auto;
    text-decoration:line-through;
}

nav ul li span.number {
    color: #686868; /* Cor cinza para o número */
    font-size: 0.8em; /* Tamanho menor para o número */
    font-family: 'Arial', sans-serif; /* Fonte diferente (pode ser alterada conforme necessário) */
    margin-right: 7px; /* Espaço entre o número e o texto */
}

main {
    margin-top: 180px; /* Ajusta o espaço entre o topo e o conteúdo principal para a nova altura do cabeçalho */
    text-align: center;
}

.rule{
    background-image: url(../imagens/divider-dark.png);
    background-repeat: repeat-x;
    padding-top: 100px ;
}

section{
    width: 100%;
    height: 500px;
    
}

.trabalhos .mosaico{
    min-width: 1200px;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 120px;
}
.trabalhos .mosaico .item{
    height: 470px; /*altura*/
    width: 570px; /*largura*/
    background-image: url(../imagens/eliporto.jpg);
    background-size: cover; /*tamanho da imagem de fundo*/
    background-position: center; /*posiçao da imagem, nesse caso no centro*/
}
#trabalhos{
    background-color: blue;   } 

/*------------------fim do trabalhos----------*/

.icons{
 height: 120px;
 width: 345px;
 margin: 0 auto;
 display: flex;
 flex-direction: row;

}


.icons .icon img{
   width: 115px;

}

.icons .icon:nth-child(2){
    margin-left: 25px;
}

.text{
    width: 850px;
    height: 100px;
     margin: 0 auto;
     
}


.text h6{
    font-size: 26px; /*tamanho da fonte*/
    font-weight: 300;
    width: 80%;
    display: inline-block;
    line-height: 40px;
    font-family: 'Roboto Slab' , serif;
    color: #000000;
    text-align: center;
   margin: 0;
   margin-left: 95px;
   margin-top: 40px;
}

.texto{
    width: 850px;
    height: 100px;
     margin: 0 auto;

}

.texto h4{
    font-size: 24px; /*tamanho da fonte*/
    font-weight: 100; /*grossura*/
    font-family: Montserrat , serif;
    margin-left: 95px;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    color: #e7a920;
}

.texto h1{
    font-size: 80px; /*tamanho da fonte*/
    font-weight: 700;
    font-family: Montserrat , serif;
    margin-left: 95px;
    margin-top: -14px;
    text-align: center;
    text-transform: uppercase;
    
    

}

.wave{
    text-align: center;
    margin-left: 95px;
    margin-top: 7px;

}

p{
font-size: 20px;
margin-top: 40px;
margin-left: 95px;
font-family: Montserrat, serif;
text-align: center;

}